:root {
  --spacings-0: 0;
  --spacings-XXS: 0.25rem;
  --spacings-XS: 0.5rem;
  --spacings-S: 1rem;
  --spacings-M: 1.5rem;
  --spacings-L: 2rem;
  --spacings-XL: 3rem;
  --spacings-XXL: 4rem;
  --sizes-XS-font-size: 0.85rem;
  --sizes-XS-line-height: 1.5;

  /*COLOR*/
  --color-brand-900: #aa0e0e;
  --color-brand-800: #eb1f1f;
  --color-brand-700: #e83535;
  --color-brand-600: #e24b4b;
  --color-brand-500: #ff7a7a;
  --color-brand-400: #ff9494;
  --color-brand-300: #ffa8a8;
  --color-brand-200: #ffc2c2;
  --color-brand-100: #ffd1d1;
  --color-brand-50: #fde2e2;
  --color-brand-25: #fef1f1;

  /*NEUTRAL*/
  --color-neutral-900: #0b1732;
  --color-neutral-800: #2a3551;
  --color-neutral-700: #445473;
  --color-neutral-600: #667799;
  --color-neutral-500: #96a6c5;
  --color-neutral-400: #acbbd7;
  --color-neutral-300: #becbe4;
  --color-neutral-200: #d2dcef;
  --color-neutral-100: #e0e7f6;
  --color-neutral-50: #ebf0fa;
  --color-neutral-25: #f3f6fc;
  --color-neutral-0: #ffffff;
}
